@{
    ViewData["Title"] = "Admin | Home";
}

<h2>
    Admin Home<br />
    <small>This is the administrative control panel for the golf league website.</small>
</h2>
<div class="row">
    <div class="col-md-12">

        <p>Choose an action below to do Administrator-y things.</p>


        <div class="btn-group-vertical">

            <a class="btn btn-info" asp-controller="Admin" asp-action="Data">Manage Data</a>
            
        </div>
    </div>
</div>