<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name<span class="caret"></span></a>
    <ul class="dropdown-menu">
        
        <li><a asp-controller="Account" asp-action="LogOut">Sign out</a></li>
    </ul>
</li>